<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://glitch.com/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>id3</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="wrapper">
    <div class="content" role="main">
      <div class="file-form">
        <form class="file-upload" method="post" enctype="multipart/form-data">
          <label for="file">Choose a file</label>
          <input type="file" id="file" name="file">
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
<!-- Copyright (c) 2022 YA-androidapp(https://github.com/YA-androidapp) All rights reserved. -->